<form class="{{cssClass}}" autocomplete="off">
    <div class="spaceship">
        <div class="header border">
            <div class="flex row">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
                </div>
                <div class="flex column grow">
                    <div class="header-row">
                        <div class="ship-name">
                            <label>{{localize "BIO.NAME"}}</label>
                            <input name="name" type="text" value="{{actor.name}}"/>
                        </div>
                        <div class="ship-class">
                            <label>{{localize "BIO.SHIP_CLASS"}}</label>
                            <select name="system.bio.shipClass">
                                {{#select system.bio.shipClass}}
                                <option value="transportShip">{{localize "SHIP_CLASS.TRANSPORT"}}</option>
                                <option value="raiderShip">{{localize "SHIP_CLASS.RAIDER"}}</option>
                                <option value="frigateShip">{{localize "SHIP_CLASS.FRIGATE"}}</option>
                                <option value="lightCruiserShip">{{localize "SHIP_CLASS.LIGHT_CRUISER"}}</option>
                                <option value="cruiserShip">{{localize "SHIP_CLASS.CRUISER"}}</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="ship-hull-type">
                            <label>{{localize "BIO.SHIP_HULL_TYPE"}}</label>
                            <input name="system.bio.shipHullType" type="text" value="{{system.bio.shipHullType}}"/>
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="ship-space">
                            <label>{{localize "BIO.SHIP_SPACE"}}</label>
                            <input name="system.shipSpace.value" type="text"
                                   value="{{system.shipSpace.value}}" data-dtype="Number"/>
                            /
                            <input name="system.shipSpace.max" type="text" value="{{system.shipSpace.max}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="ship-energy">
                            <label>{{localize "BIO.SHIP_ENERGY"}}</label>
                            <input name="system.shipEnergy.value" type="text" value="{{system.shipEnergy.value}}"
                                   data-dtype="Number"/>
                            /
                            <input name="system.shipEnergy.max" type="text" value="{{system.shipEnergy.max}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="ship-turret-rate">
                            <button class="roll-ship-turrets" type="button"><label>{{localize "BIO.SHIP_TURRET_RATE"}}</label></button>
                            <input name="system.shipTurretRate.value" type="text" value="{{system.shipTurretRate.value}}"
                                   data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="header-row">
                        <div class="ship-crew-rate">
                            <label>{{localize "BIO.SHIP_CREW_RATE"}}</label>
                            <input name="system.bio.shipCrewRate" type="text" value="{{system.bio.shipCrewRate}}" data-dtype="Number"/>

                            <select name="system.bio.shipCrewRate">
                                {{#select system.bio.shipCrewRate}}
                                <option value="incompetentCrew">{{localize "SHIP_CREW.INCOMPETENT"}}</option>
                                <option value="competentCrew">{{localize "SHIP_CREW.COMPETENT"}}</option>
                                <option value="crackCrew">{{localize "SHIP_CREW.CRACK"}}</option>
                                <option value="veteranCrew">{{localize "SHIP_CREW.VETERAN"}}</option>
                                <option value="eliteCrew">{{localize "SHIP_CREW.ELITE"}}</option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="ship-crew">
                            <label>{{localize "BIO.SHIP_CREW"}}</label>
                            <input name="system.shipCrew.value" type="text"
                                   value="{{system.shipCrew.value}}" data-dtype="Number"/>
                            /
                            <input name="system.shipCrew.max" type="text" value="{{system.shipCrew.max}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="ship-morale">
                            <label>{{localize "BIO.SHIP_MORALE"}}</label>
                            <input name="system.shipMorale.value" type="text" value="{{system.shipMorale.value}}"
                                   data-dtype="Number"/>
                            /
                            <input name="system.shipMorale.max" type="text" value="{{system.shipMorale.max}}"
                                   data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="ship-systems">{{localize "TAB.SYSTEMS"}}</b>
            <b class="item" data-tab="ship-combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="ship-abilities">{{localize "TAB.ABILITIES"}}</b>
            <b class="item" data-tab="ship-notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="ship-systems">
                {{> systems/rogue-trader/template/sheet/actor/tab/spaceship-systems.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="ship-combat">
                {{> systems/rogue-trader/template/sheet/actor/tab/spaceship-combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="ship-abilities">
                {{> systems/rogue-trader/template/sheet/actor/tab/spaceship-abilities.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="ship-notes">
                {{> systems/rogue-trader/template/sheet/actor/tab/npc-notes.html}}
            </div>
        </div>
    </div>
</form>