<form class="{{cssClass}}" autocomplete="off">
    <div class="header border">
        <div class="flex row">
            <div class="avatar">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <div class="flex column grow justify-center">
                <div class="name header-row">
                    <label>{{localize "SYSTEM.NAME"}}</label>
                    <input name="name" type="text" value="{{item.name}}"/>
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-tabs tabs flex row" data-group="primary">
        <b class="item" data-tab="data">{{localize "TAB.DATA"}}</b>
        <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
    </div>

    <div class="sheet-body">
        <div class="tab" data-group="primary" data-tab="data">
            <div class="stats border">
                <h1>{{localize "TITLE.STATS"}}</h1>
                <div class="stats-row">
                    <div class="stat installed">
                        <label>{{localize "SYSTEM.IS_ON_FIRE"}}</label>
                        <input name="system.isOnFire" type="checkbox" {{checked system.isOnFire}} />
                    </div>
                    <div class="stat installed">
                        <label>{{localize "SYSTEM.IS_UN_POWERED"}}</label>
                        <input name="system.isUnPowered" type="checkbox" {{checked system.isUnPowered}} />
                    </div>
                    <div class="stat installed">
                        <label>{{localize "SYSTEM.IS_DEPRESSURISED"}}</label>
                        <input name="system.isDepressurised" type="checkbox" {{checked system.isDepressurised}} />
                    </div>
                </div>
                <div class="stats-row">
                    <div class="counter">
                        <label>{{localize "BIO.SHIP_ENERGY"}}</label>
                        <input name="system.energy" type="text" value="{{system.energy}}"/>
                    </div>
                    <div class="counter">
                        <label>{{localize "BIO.SHIP_SPACE"}}</label>
                        <input name="system.spaceNow" type="text"
                               value="{{system.spaceNow}}"/>
                        /
                        <input name="system.spaceMax" type="text" value="{{system.spaceMax}}"/>
                    </div>
                </div>
                <div class="stats-row">
                    <div class="system-description">
                        <label>{{localize "TOOL.SHORT_DESCRIPTION"}}</label>
                        <input name="system.shortDescription" type="text" value="{{system.shortDescription}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <div class="notes-editor border">
                <h1>{{localize "TITLE.NOTES"}}</h1>
                <div style="height: 132px; width: 100%">
                    {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true
                    owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</form>